# Google Palm LLM & API key setup

In [2]:
from langchain.llms import GooglePalm

#api_key = 'AIzaSyClR1WGsnanOmOys8OL4IEthiojWQfaYmg'

llm = GooglePalm(google_api_key="AIzaSyClR1WGsnanOmOys8OL4IEthiojWQfaYmg",temperature = 0.2)

C:\Users\Hp\anaconda3\envs\myai\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Connect with database and ask some basic questions

In [3]:
#from langchain_community.utilities import SQLDatabase
from langchain.utilities import SQLDatabase
import pymysql
db_user = "root"
db_password = "123456789"
db_host = "localhost"
db_name = "employees"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE departments (
	dept_no CHAR(4) NOT NULL,
	dept_name VARCHAR(40) NOT NULL,
	PRIMARY KEY (dept_no)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from departments table:
dept_no	dept_name
d009	Customer Service
d005	Development
d002	Finance
*/


CREATE TABLE dept_emp (
	emp_no INTEGER NOT NULL,
	dept_no CHAR(4) NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE NOT NULL,
	PRIMARY KEY (emp_no, dept_no),
	CONSTRAINT dept_emp_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
	CONSTRAINT dept_emp_ibfk_2 FOREIGN KEY(dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from dept_emp table:
emp_no	dept_no	from_date	to_date
10001	d005	1986-06-26	9999-01-01
10002	d007	1996-08-03	9999-01-01
10003	d004	1995-12-03	9999-01-01
*/


CREATE TABLE dept_manager (
	emp_no INTEGER NOT NULL,
	dept_no CHAR(4) NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE NOT NULL,
	PRIMARY KEY (emp_no, dept_no),
	CONSTRAINT dept_manager_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
	CONSTRAINT dept_manager_ibfk_2 FOREIGN KEY(dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from dept_manager table:
emp_no	dept_no	from_date	to_date
110022	d001	1985-01-01	1991-10-01
110039	d001	1991-10-01	9999-01-01
110085	d002	1985-01-01	1989-12-17
*/


CREATE TABLE employees (
	emp_no INTEGER NOT NULL,
	birth_date DATE NOT NULL,
	first_name VARCHAR(14) NOT NULL,
	last_name VARCHAR(16) NOT NULL,
	gender ENUM('M','F') NOT NULL,
	hire_date DATE NOT NULL,
	PRIMARY KEY (emp_no)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from employees table:
emp_no	birth_date	first_name	last_name	gender	hire_date
10001	1953-09-02	Georgi	Facello	M	1986-06-26
10002	1964-06-02	Bezalel	Simmel	F	1985-11-21
10003	1959-12-03	Parto	Bamford	M	1986-08-28
*/


CREATE TABLE salaries (
	emp_no INTEGER NOT NULL,
	salary INTEGER NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE NOT NULL,
	PRIMARY KEY (emp_no, from_date),
	CONSTRAINT salaries_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from salaries table:
emp_no	salary	from_date	to_date
10001	60117	1986-06-26	1987-06-26
10001	62102	1987-06-26	1988-06-25
10001	66074	1988-06-25	1989-06-25
*/


CREATE TABLE titles (
	emp_no INTEGER NOT NULL,
	title VARCHAR(50) NOT NULL,
	from_date DATE NOT NULL,
	to_date DATE,
	PRIMARY KEY (emp_no, title, from_date),
	CONSTRAINT titles_ibfk_1 FOREIGN KEY(emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from titles table:
emp_no	title	from_date	to_date
10001	Senior Engineer	1986-06-26	9999-01-01
10002	Staff	1996-08-03	9999-01-01
10003	Senior Engineer	1995-12-03	9999-01-01
*/

In [4]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain =SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain.run("select max(salary) from salaries")
qns1

C:\Users\Hp\anaconda3\envs\myai\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
select max(salary) from salaries
SQLQuery:SELECT MAX(salary) FROM salaries
SQLResult: [(158220,)]
Answer:158220
> Finished chain.

'158220'

In [9]:
qns1 = db_chain.run("SELECT count(*) from employees where gender='m'")
qns1

> Entering new SQLDatabaseChain chain...
SELECT count(*) from employees where gender='m'
SQLQuery:SELECT count(*) FROM employees WHERE gender = 'M'
SQLResult: [(179973,)]
Answer:179973
> Finished chain.

'179973'

In [7]:
qns2 = db_chain.run("select gender, count(gender) from employees group by gender")
qns2

> Entering new SQLDatabaseChain chain...
select gender, count(gender) from employees group by gender
SQLQuery:SELECT gender, count(gender) FROM employees GROUP BY gender
SQLResult: [('M', 179973), ('F', 120051)]
Answer:M, 179973; F, 120051
> Finished chain.

'M, 179973; F, 120051'

In [17]:
few_shots= [
    {'Question' : "How many employees are male employees?",
     'SQLQuery' : "SELECT count(*) from employees where gender='m'",
     'SQLResult': "Result of the SQL query",
     'Answer' :'179973' },
    {'Question': "what is the maximum salary given to employee?",
     'SQLQuery':"select max(salary) from salaries",
     'SQLResult': "Result of the SQL query",
     'Answer':"158220"},
    {'Question': "How many male and femle employees working in company?" ,
     'SQLQuery' : "select gender, count(gender) from employees group by gender",
     'SQLResult': "Result of the SQL query",
     'Answer':"m=179973,f=120051"} ,
     {'Question' : "how many unique name are there in employees?" ,
      'SQLQuery': "select count(distinct first_name) from employees",
      'SQLResult': "Result of the SQL query",
      'Answer' : "1275"},
    {'Question': "get the employee number of the employee who is having 3rd highest salary",
     'SQLQuery' : "select emp_no,round(avg(salary)) from salaries group by emp_no order by 2 desc limit 2,1",
     'SQLResult': "Result of the SQL query",
     'Answer' :"37558"
     }
        ]

# Creating Semantic Similarity Based example selector
 create embedding on the few_shots
 
 Store the embeddings in Chroma DB
 
 Retrieve the the top most Semantically close example from the vector store

In [15]:

from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

C:\Users\Hp\anaconda3\envs\myai\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [18]:
to_vectorize = [" ".join(example.values()) for example in few_shots]
to_vectorize

["How many employees are male employees? SELECT count(*) from employees where gender='m' Result of the SQL query 179973",
 'what is the maximum salary given to employee? select max(salary) from salaries Result of the SQL query 158220',
 'How many male and femle employees working in company? select gender, count(gender) from employees group by gender Result of the SQL query m=179973,f=120051',
 'how many unique name are there in employees? select count(distinct first_name) from employees Result of the SQL query 1275',
 'get the employee number of the employee who is having 3rd highest salary select emp_no,round(avg(salary)) from salaries group by emp_no order by 2 desc limit 2,1 Result of the SQL query 37558']

In [21]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [22]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "get the employee number of the employee who is having 3rd highest salary"})

[{'Answer': '37558',
  'Question': 'get the employee number of the employee who is having 3rd highest salary',
  'SQLQuery': 'select emp_no,round(avg(salary)) from salaries group by emp_no order by 2 desc limit 2,1',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '158220',
  'Question': 'what is the maximum salary given to employee?',
  'SQLQuery': 'select max(salary) from salaries',
  'SQLResult': 'Result of the SQL query'}]

In [23]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [26]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

# Setting up PromptTemplete using input variables

In [24]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [28]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [29]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [31]:
new_chain("what is the lowest salary given to employee")

> Entering new SQLDatabaseChain chain...
what is the lowest salary given to employee
SQLQuery:select min(salary) from salaries
SQLResult: [(38735,)]
Answer:38735
> Finished chain.

{'query': 'what is the lowest salary given to employee', 'result': '38735'}